* {
  margin: 0;
}
.flexrow {
  display: flex;
  align-items: center;
}
.flexcol {
  display: flex;
  flex-direction: column;
}
.icon {
  width: 1.25rem;
  padding: 0.625rem;
}
.logo {
  width: 6rem;
}
.airline-img {
  width: 100%;
}
.header-img {
  width: 100%;
  aspect-ratio: 5/2;
}
.content-img {
  width: 100%;
  aspect-ratio: 2/1;
}
.gallery-img {
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 1/1;
}
.iconFa {
  display: inline-block;
  padding-right: 1rem;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
.button-style {
  display: flex;
  justify-content: center;
  --background-color: #2c4036;
  background-color: var(--background-color);
  padding: 0.625rem 0;
  color: white;
}

/*-----------------Navigation----------------------*/
nav {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  justify-content: space-between;
  height: 100px;
}
.navbar ul {
  list-style: none;
  padding: 0;
  display: none;
}
.navbar ul li {
  padding: 0 1rem;
  font-size: 1rem;
}
#toggler,
nav label {
  display: none;
}
.menu {
  display: none;
  box-shadow: transparent;
}
.menu ul {
  list-style: none;
  padding: 1rem;
}
.menu-link {
  justify-content: space-between;
}
.menu-link img {
  width: 0.8rem;
}
/*----------------Content--------------------------*/
.content > div {
  margin: 1rem;
}
.header {
  margin: 1rem;
  padding: 1rem 0;
}
.header > * {
  margin: 0.3125rem 0;
}
.headerTop-text {
  color: #5b848a;
}
.headerMiddle-text {
  font-size: 1.5625rem;
}

.booking-panel-tab1 {
  --border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 0fr;
  transition: grid-template-rows 1200ms;
  margin: 1rem 0;
  cursor: pointer;
}
.booking-panel-tab2 {
  border: var(--border);
  margin: 1rem 0;
}
.booking-panel-taboption {
  justify-content: space-between;
  --background-color: #2c4036;
  color: black;
  padding: 0.625rem;
  background-color: #e7dfdf;
}
.booking-panel-tabmore {
  overflow: hidden;
  border: --border;
  border: 1px solid #d9c9c9;
}
.booking-panel-tabmore > div {
  border-bottom: 1px solid #d6c9c9;
}
.booking-panel-taboption:hover {
  justify-content: space-between;
  --background-color: #2c4036;
  color: white;
  padding: 0.625rem;
  background-color: var(--background-color);
}

.booking-panel-taboption h3 {
  margin: 0.625rem;
  font-size: 1.3rem;
  font-weight: lighter;
}
.booking-panel-taboption a {
  margin: 0.625rem;
  font-size: 1.3rem;
}
.button-link:hover {
  color: white;
}
.booking-panel-taboption a:hover {
  color: white;
}
.booking-panel-tablist {
  border: var(--border);
}
.booking-panel-tabmore h4 {
  font-size: 1rem;
}
.booking-panel-tablist a {
  padding: 0.625rem 0.5rem;
  font-size: 1rem;
}
.booking-panel-input {
  border: var(--border);
}
.booking-panel-input input {
  border: transparent;
  margin: 0 0.625rem 0.3125rem 0.3125rem;
}
.booking-panel-input h4 {
  margin: 0.3125rem;
  font-weight: initial;
}
/*------------------Content-------------------------*/
.contentBlock-textCard-text {
  padding: 0.625rem;
  position: relative;
  bottom: 2rem;
  width: 90%;
  background-color: #f9f9f9;
}
.contentBlock-textCard-textRight {
  margin-left: auto;
}
.contentBlock-textCard-text > * {
  font-weight: normal;
  padding: 0.3125rem;
}
.contentBlock-textCard-text h3 {
  font-size: 1.8rem;
}
.contentBlock-textCard-text p {
  font-size: 1.2rem;
}
.contentBlock-textCard-text span {
  font-size: 1.2rem;
  font-weight: bold;
  color: #518a8a;
}

.offerCard select {
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #518a8a;
}
.galleries {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: scroll;
  margin: 2rem 0;
  overscroll-behavior-inline: contain;
}
.gallery {
  background-color: #f8f8f8;
}
.snap-inline {
  scroll-snap-type: inline mandatory;
}
.snap-inline > * {
  scroll-snap-align: start;
}
.gallery-city {
  font-size: 1.2rem;
  padding: 1rem 1rem;
}
.gallery-class,
.gallery-price {
  padding-left: 1rem;
}
.gallery-price span {
  font-size: 1.1rem;
}
.gallery-book {
  color: #518a8a;
  padding: 1rem 1rem;
}
.button-style2 {
  width: 100%;
  padding: 1rem;
  margin: 3rem 0;
  border: 1px solid #518a8a;
  color: #518a8a;
  background-color: transparent;
}
.button-style2:hover {
  text-decoration: underline;
}
/*-------------------Footer----------------------*/
footer {
  background-color: #2c4036;
  color: white;
  padding: 5rem 1rem;
}
.about {
  cursor: pointer;
  display: grid;
  grid-template-rows: 1fr 0fr;
}
.about-hidden {
  overflow: hidden;
}
.about,
.social-content,
.language {
  padding: 0.5rem 0;
  border-bottom: 1px solid #f9f9f9;
}
.about-visible {
  justify-content: space-between;
}
.about-hidden a {
  color: white;
  padding: 0.6rem 0;
}
.social-content {
  padding: 1rem 0;
}
.language,
.copyright {
  padding: 1.5rem 0;
}

.maintenance {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.maintenance p {
  font-size: 100px;
  text-align: center;
}
@media screen and (min-width: 1100px) {
  body {
    font-size: 25px;
  }
  .navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  .content {
    min-width: 1000px;
    max-width: 1400px;
    padding: 0 5rem;
    margin: 0 auto;
  }
  .content-header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 30px;
    margin-left: 3rem;
    gap: 5%;
    margin-bottom: 5rem;
  }
  .header-img {
    width: 65%;
    aspect-ratio: 7/3;
  }
  .contentBlock-textCard-Container {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }
  .content-img2 {
    aspect-ratio: 3/2;
  }
  .contentBlock-textCard2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
  }
  .contentBlock-textCard-text {
    padding: 0.625rem;
    position: static;
    width: 90%;
    background-color: #f9f9f9;
  }
  .booking-panel {
    display: grid;
    grid-template-rows: 0.1fr 0fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 1px;
  }
  .booking-panel-tabmore {
    display: none;
    border: --border;
    grid-column: 4 span;
    order: 4;
  }
}
@media screen and (min-width: 801px) and (max-width: 1099px) {
  nav label {
    display: inline;
    align-items: center;
    cursor: pointer;
  }
  .menu {
    display: inline;
    position: absolute;
    background-color: white;
    top: 100px;
    height: 100vh;
    width: 350px;
    left: -800px;
  }
  #toggler:checked ~ .menu {
    max-width: 400px;
    left: 0;
  }
  .booking-panel {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 1px;
  }
  .booking-panel-tabmore {
    display: none;
    border: --border;
    grid-column: 2 span;
  }
}
@media screen and (min-width: 601px) and (max-width: 800px) {
  nav label {
    display: inline;
    align-items: center;
    cursor: pointer;
  }
  .menu {
    display: inline;
    position: absolute;
    background-color: white;
    top: 100px;
    height: 100vh;
    width: 350px;
    left: -800px;
  }
  #toggler:checked ~ .menu {
    max-width: 400px;
    left: 0;
  }
  .galleries {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 35%;
    overflow-x: scroll;
  }
  .booking-panel {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 1px;
  }
  .booking-panel-tabmore {
    display: none;
    border: --border;
    grid-column: 2 span;
  }
}

@media screen and (max-width: 600px) {
  nav label {
    display: inline;
    align-items: center;
    cursor: pointer;
  }
  .menu {
    display: inline;
    position: absolute;
    background-color: white;
    top: 100px;
    height: 100vh;
    width: 350px;
    left: -800px;
  }
  #toggler:checked ~ .menu {
    max-width: 400px;
    left: 0;
  }
  .galleries {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70%;
    overflow-x: scroll;
  }
  .booking-panel {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    grid-row-gap: 0px;
  }
  .booking-panel-tabmore {
    display: none;
    border: --border;
  }
  .booking-panel-tab2 {
    border: var(--border);
    margin: 1rem 0;
    order: 5;
  }
}
